{% extends "base.html"  %}

{% block content %}

  <h1>{{template_categories[template_category]}}</h1> <!-- insert category here -->

  <div class="navbar">
    <!-- begin for loop here -->
    {% for category,label in template_categories.items() %}
      <a href="/{{category}}">{{label}}</a> <!-- set attribute and text here -->
    <!-- end for loop here -->
    {% endfor%}
  </div>

  <table>
    <colgroup>
      <col style="width: 20%">
      <col style="width: 70%">
      <col style="width: 10%">
    </colgroup>
    <tbody class="loctable">
        <!-- begin for loop here -->
      {% for location in template_locations %}
        <tr>
          <td class="loc">{{ location.name }}</td> <!-- insert location name here -->
          <td class="desc">{{ location.description }}</td> <!-- insert location description here -->
          <td class="btns">
            <!-- start if statement here -->
          {% if template_category in ['recommended','tovisit'] %}
            <form method="POST">
              <input type="submit" class="up" name="{{ location.name }}_up" value=&#8599;> <!-- set name attribute here -->
              <input type="submit" class="del" name="{{ location.name }}_del" value="X"> <!-- set name attribute here -->
            </form>
            <!-- end if statement here -->
          {% endif %}
          </td>
        </tr>
        <!-- end for loop here -->
      {% endfor %}
    </tbody>
  </table>

<!--  <form class="addform" action="" method="POST"> &lt;!&ndash; set action attribute here &ndash;&gt;-->
<!--    &lt;!&ndash; call hidden_tag() here &ndash;&gt;-->

<!--    <table>-->
<!--      <colgroup>-->
<!--        <col style="width: 40%">-->
<!--        <col style="width: 40%">-->
<!--        <col style="width: 20%">-->
<!--      </colgroup>-->
<!--      <tbody>-->
<!--        <tr>-->
<!--          <td></td> &lt;!&ndash; insert location name label here &ndash;&gt;-->
<!--          <td></td> &lt;!&ndash; insert location description label here &ndash;&gt;-->
<!--          <td></td> &lt;!&ndash; insert location category label here &ndash;&gt;-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td></td> &lt;!&ndash; insert add_location name here &ndash;&gt;-->
<!--          <td></td> &lt;!&ndash; insert add_location description here &ndash;&gt;-->
<!--          <td>-->
<!--            &lt;!&ndash; begin for loop here &ndash;&gt;-->

<!--              <div></div> &lt;!&ndash; insert button here &ndash;&gt;-->
<!--            &lt;!&ndash; end for loop here &ndash;&gt;-->

<!--          </td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td></td> &lt;!&ndash; insert submit here &ndash;&gt;-->
<!--        </tr>-->
<!--      </tbody>-->
<!--    </table>-->
<!--  </form>-->
{% endblock %}
